body {
	margin-left: auto;
	margin-right: auto;
	font-family: "Iowan Old Style", ui-serif;
	-webkit-font-smoothing: antialiased; 
	-moz-osx-font-smoothing: grayscale; 
	text-rendering: optimizeLegibility;
	word-wrap: break-word;
	max-width: 38em;
}

.feedHeader {
	margin: auto;
	text-align: left;
}

.feedlink {
	font-weight: bold;
}

.headerTable {
	width: 100%;
	height: 68px;
}

.systemMessage {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translateX(-55%) translateY(-50%);
	-webkit-user-select: none;
	cursor: default;
}

:root {
	--header-table-border-color: rgba(0, 0, 0, 0.1);
	--header-color: rgba(0, 0, 0, 0.3);
	--body-code-color: rgba(38,38,38);
	--system-message-color: #cbcbcb;
	--feedlink-color: rgba(255, 0, 0, 0.6);
	--article-title-color: #333;
	--article-date-color: rgba(0, 0, 0, 0.3);
	--table-cell-border-color: lightgray;
	--text-color: rgb(68, 68, 68);
	--faded: #bbb;
	--background: #fff;
	--light-bg: #f2f2f2;
	--shadow: lightgray;
	--hover-yellow: #FFEC3DE6;
}

@media(prefers-color-scheme: dark) {
	:root {
		--header-color: rgba(94, 158, 244, 1);
		--body-code-color: #b2b2b2;
		--system-message-color: #5f5f5f;
		--feedlink-color: rgba(94, 158, 244, 1);
		--article-title-color: #e0e0e0;
		--article-date-color: rgba(255, 255, 255, 0.5);
		--table-cell-border-color: dimgray;
		--text-color: rgb(200, 200, 200);
		--faded: #666;
		--background: #2222;
		--light-bg: rgba(49, 49, 49, 1);
		--shadow: #555;
		--hover-yellow: #FFEC3D46;
	}
}

body .headerTable {
	border-bottom: 1px solid var(--header-table-border-color);
	color: var(--header-color);
}

body .header {
	color: var(--header-color);
}

body code, body pre {
	color: var(--body-code-color);
	border-radius: 4px;
	font-family: "SF Mono", Menlo, "Courier New", Courier, monospace;
	font-size: 0.95em;
	-webkit-hyphens: none;
	letter-spacing: -.027em;
	font-size: 0.9375em;
	background: var(--light-bg);
}

body > .systemMessage {
	color: var(--system-message-color);
}

.feedIcon {
	border-radius: 4px;
}

.rightAlign {
	text-align: end;
}

.leftAlign {
	text-align: start;
}

.feedHeader {
	font-style: italic;
}

.byline > *, .byline{
	color: var(--faded);
}

.articleTitle h1 {
	color: var(--article-title-color);
	margin-top: 26px;
	padding-bottom: 15px;
	font-size: 40px;
	text-align: left;
	font-style: normal;
	margin: auto;
	line-height: 1.3em;
	font-family: "Iowan Old Style", ui-serif;
	margin-top: 40px;

}

.articleDateline {
	color: var(--faded);
	margin-bottom: 5px;
	text-align: left;
	padding-top: 40px;
	font-style: italic;
}

.articleDatelineTitle {
	color: rgba(124, 124, 124, 1);
	margin-bottom: 5px;
	font-weight: normal;
}

.externalLink {
	margin-bottom: 5px;
	font-style: italic;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
}


.articleBody {
	margin-top: 60px;
	line-height: 1.6em;
	color: var(--text-color);
}

h1 {
	line-height: 1.15em;
	font-weight: bold;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

pre {
	max-width: 100%;
	margin: 0;
	padding: 10px;
	overflow: auto;
	overflow-y: hidden;
	word-wrap: normal;
	word-break: normal;
	line-height: 1.4286em;
}

code{
	padding: 0.2em;
}

.nnw-overflow {
	overflow-x: auto;
}
/*
 Instead of the last-child bits, border-collapse: collapse
 could have been used. However, then the inter-cell borders
 overlap the table border, which looks bad.
 */
.nnw-overflow table {
	margin-bottom: 1px;
	border-spacing: 0;
	border: 1px solid var(--secondary-accent-color);
	font-size: inherit;
}
.nnw-overflow table table {
	margin-bottom: 0;
	border: none;
}
.nnw-overflow td, .nnw-overflow th {
	-webkit-hyphens: none;
	word-break: normal;
	border: 1px solid var(--table-cell-border-color);
	border-top: none;
	border-left: none;
	padding: 5px;
}

.nnw-overflow tr :matches(td, th):last-child {
	border-right: none;
}

.nnw-overflow :matches(thead, tbody, tfoot):last-child > tr:last-child :matches(td, th) {
	border-bottom: none;
}
.nnw-overflow td pre {
	border: none;
	padding: 0;
}
.nnw-overflow table[border="0"] {
	border-width: 0;
}

img, figure, video, div, object {
	max-width: 100%;
	height: auto !important;
	margin: 0 auto;
}

iframe {
	max-width: 100%;
	margin: 0 auto;
}

iframe.nnw-constrained {
	max-height: 50vw;
}

sup {
	vertical-align: top;
	position: relative;
	bottom: 0.2rem;
}

sub {
	vertical-align: bottom;
	position: relative;
	top: 0.2rem;
}

p{
	margin: 20px 0px;
}

hr {
	border: none; 
	background-color: var(--table-cell-border-color); 
	height: 1px;
	margin-top: 1em;
}

.iframeWrap {
	position: relative;
	display: block;
	padding-top: 56.25%;
}

.iframeWrap iframe {
	position: absolute;
	top: 0;
	left: 0;
	height: 100% !important;
	width: 100% !important;
}

blockquote {
		background: var(--light-bg);
	  border-radius: 4px;
	  margin: 1.5em 0;
	  padding: 1em;
	  color: var(--text-color);
	  font-size: 0.95rem;

	  }
	  
blockquote > blockquote {
  padding-left: 1em;
  padding-top: 0em;
  padding-bottom: 0em;
  font-style: italic;
}


blockquote > *:first-child {
	margin-block-start: 0px;
}

blockquote > *:last-child {
	margin-block-end: 0px;
}


/* Feed Specific */

.feedbin--article-wrap {
	border-top: 1px solid var(--header-table-border-color);
}

/* Hide the external link at the bottom of Daring Fireball posts */

.x-netnewswire-hide {
	display: none;
}

/* see removeWpSmiley; this rule is kept in case a wp-smiley is encountered without alt text */

.wp-smiley {
   height: 1em;
   max-height: 1em;
}

/* Twitter */

.twitterAvatar {
	vertical-align: middle;
	border-radius: 4px;
	height: 1.7em;
	width: 1.7em;
}

.twitterUsername {
	line-height: 1.2;
	margin-left: 4px;
	display: inline-block;
	vertical-align: middle;
}

.twitterScreenName {
	font-size: 66%;
}

.twitterTimestamp {
	font-size: 66%;
}

/*Block ads and junk*/

iframe[src*="feedads"],
iframe[src*="doubleclick"],
iframe[src*="plusone.google"] {
	display: none !important;
}

a[href*=".ads."],
a[href*="feedads"],
a[href*="doubleclick"],
a[href*="//ads."],
a[href*="api.tweetmeme"],
a[href*="delicious.com/post?"],
a[href*="digg.com/submit?"],
a[href*="google.com/bookmarks/mark?"],
a[href*="posterous.com/share?"],
a[href*="tumblr.com/share?"],
a[href*="linkedin.com/shareArticle?"],
a[href*="facebook.com/share.php?"],
a[href*="http://twitter.com/home?"],
a[href*="addtoany.com/share_save"] {
	display: none !important;
}

img[src*=".ads."],
img[src*="//ads."],
img[src*="doubleclick"],
img[src*="feedads"],
img[src*="feedburner"],
img[src*="feedblitz"],
img[src*="share-buttons"] {
	display: none !important;
}

/* Newsfoot specific styles. Structural styles come first, theme styles second */
.newsfoot-footnote-container {
	position: relative;
	display: inline-block;
	z-index: 9999;
}

.newsfoot-footnote-popover {
	position: absolute;
	display: block;
	padding: 0em 1em;
	margin: 1em;
	width: 32rem;
	top: 0.75em;
	font-size: 0.95rem;
	max-width: none;
	border-radius: 0.3em;
	box-sizing: border-box;
}

.newsfoot-footnote-popover {
	left: calc(-1 * (32vw - 1em));
	right: calc(-1 * (32vw - 1em));
}

.newsfoot-footnote-popover-arrow {
	content: '';
	display: block;
	width: 1em;
	position: absolute;
	top: -0.5em;
	left: calc(50% - 0.5em);
	height: 1em !important;
	transform: rotate(45deg);
	z-index:0;
}
.newsfoot-footnote-popover-inner {
	border-radius: calc(0.3em - 1px);
	padding: 1em;
	position: relative;
	z-index: 1;
}

.newsfoot-footnote-popover-inner :first-child {
	margin-top: 0;
}
.newsfoot-footnote-popover-inner :last-child {
	margin-bottom: 0;
}

.newsfoot-footnote-popover .reversefootnote,
.newsfoot-footnote-popover .footnoteBackLink,
.newsfoot-footnote-popover .footnote-return,
.newsfoot-footnote-popover a[href*='#fn'] {
	display: none;
}

sup[id^='fn'] {
	vertical-align: baseline;
}

/* light / default */
.newsfoot-footnote-popover {
	background: #ccc;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 3px 6px rgba(0, 0, 0, 0.25);
	color: black;
	padding: 1px;
}
.newsfoot-footnote-popover-arrow {
	background: #fafafa;
	border: 1px solid #ccc;
}
.newsfoot-footnote-popover-inner {
	background: #fafafa;
}

/* dark */
@media screen and (prefers-color-scheme: dark) {
	.newsfoot-footnote-popover {
		background: #444;
		color: rgb(224, 224, 224);
	}
	.newsfoot-footnote-popover-arrow {
		background: #242424;
		border: 1px solid #444;
	}
	.newsfoot-footnote-popover-inner {
		background: #242424;
	}
}

/* iOS Specific */
@supports (-webkit-touch-callout: none) {
	
	body {
		margin-top: 3px;
		margin-bottom: 20px;
		padding-left: 20px;
		padding-right: 20px;
	}

	:root {
		color-scheme: light dark;
		--font-family: 'Iowan Old Style', "Georgia", serif;
		--font-size: 13px;
		--primary-accent-color: #086AEE;
		--secondary-accent-color: #086AEE;
		--block-quote-border-color: rgba(8, 106, 238, 0.75);
	}

	@media(prefers-color-scheme: dark) {
		:root {
			--primary-accent-color: #2D80F1;
			--secondary-accent-color: #5E9EF4;
			--block-quote-border-color: rgba(94, 158, 244, 0.75);
			--header-table-border-color: rgba(255, 255, 255, 0.2);
		}
	}

	body .header {
		font: -apple-system-body;
		font-size: [[font-size]]px;
	}

	.avatar img {
		border-radius: 4px;
	}

	.nnw-overflow table {
		border: none;
	}

	.activityIndicatorWrap {
		position: relative;
	}

	.activityIndicator {
		z-index: 1;
		width: 64px;
		height: 64px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

}

/* macOS Specific */
@supports not (-webkit-touch-callout: none) {
	
	body {
		margin-top: 20px;
		margin-bottom: 64px;
		padding-left: 48px;
		padding-right: 48px;
	}

	.smallText {
		font-size: 14px;
	}

	.mediumText {
		font-size: 16px;
	}

	.largeText {
		font-size: 18px;
	}

	.xlargeText {
		font-size: 20px;
	}

	.xxlargeText {
		font-size: 22px;
	}

	:root {
		color-scheme: light dark;
		--accent-color: rgba(8, 106, 238, 1);
		--block-quote-border-color: rgba(8, 106, 238, .50);
	}

	@media(prefers-color-scheme: dark) {
		:root {
			--accent-color: rgba(94, 158, 244, 1);
			--block-quote-border-color: rgba(94, 158, 244, .50);
			--header-table-border-color: rgba(255, 255, 255, 0.1);
		}
	}

	.nnw-overflow table {
		//border: 1px solid var(--accent-color);
	}

}

h1, h2, h3{
		margin-top: 2.5em;
}

h1{
	margin-top: 2em;
}

.articleBody h3 > a, .articleBody h2 > a{
	background: var(--background);
	font-weight: inherit;

}

.articleBody h3 > a:hover, .articleBody h2 > a:hover{
	background: var(--background);
	text-decoration: underline;
}


figure {
	margin-bottom: 1.5em;
	margin-top: 1.5em;
	box-shadow: 0px 1px 4px var(--shadow);
	padding: 1rem 1rem;
	width: calc(100% - 2rem);
	text-align: center;
	border-radius: 4px;
}

figure img{
	padding: 0rem 0rem 1rem 0rem;
	margin: 0rem -0.2rem -1.4rem -0.2rem;
	outline: none;
	box-shadow: none;
}

figcaption{
	font-size: 14px;
	line-height: 1.3em;
	margin-top: 1rem;
	text-align: left;
}

figcaption:empty{
	display: none;
}

img{
	background: var(--background);
	padding: 1rem 1rem 1rem 1rem;
	margin: 0rem 0rem 1rem 0rem;
	box-sizing: border-box;
	outline: solid 0.5px lightgray;
	outline-offset: -1rem;
	border-radius: 4px;
	box-shadow: 0px 1px 5px var(--shadow);
	display: inline-block;
	width: 100%;
}

body a:hover{
	text-decoration: underline;
}

.articleBody a:hover {
	text-decoration: none;
	background: rgb(255,236,61);
	background: linear-gradient(0deg, var(--hover-yellow) 40%, var(--background) 45%);
}


body a{
	font-weight: 600;
	color: var(--text-color);
	text-decoration: none;
}

.articleBody a {
	text-decoration: none;
	background: rgb(255,236,61);
	background: linear-gradient(0deg, #FFEC3D66 40%, var(--background) 45%);
	color: var(--text-color);
	padding: 0px 2px 0px 2px;
	font-weight: 400;
}

.articleDateline a{
	font-weight: 200;
	color: var(--faded);
}


.articleBody blockquote a{
	background: none
}

.avatar img {
	border-radius: 4px;
}

.articleBody blockquote a:hover{
	text-decoration: underline;
	background: none;
}


a.footnote {
	display: inline-block;
	text-decoration: none;
	padding: 0.1em 0.1em;
	min-width: 1em;
	text-align: center;
	font-size: 0.8em;
	line-height: 1em;
	position:relative;
	margin: 0px 5px;
	top: -0.1em;
	background: transparent;
}


body a.footnote,
body a.footnote:visited,
.newsfoot-footnote-popover + a.footnote:hover {
	background: #FFEC3D66;
	font-weight: 600;
	color: var(--text-color);
/*	transition: background-color 300ms ease-out;*/
}
a.footnote:hover,
.newsfoot-footnote-popover + a.footnote {
	background: var(--hover-yellow);
/*	transition: background-color 200ms ease-out;*/
}